{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dennistoun Dinner Society</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'dennistoundinners/images/ddslogo.png' %}"/>

    <link rel="stylesheet" href="{% static 'dennistoundinners/css/base.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="{% static 'dennistoundinners/images/blacktriangles.mp4' %}" type="video/mp4">
</video>

{% block content %}
{% endblock content %}
</html>